 body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Rambla', serif !important;
}
body.home-page {
  background: url(../img/climbing2.jpg) 0 0 ;
  background-size: cover;
  background-repeat: no-repeat;
}

header.lessons {
  background: url(../img/lessons.jpg) center;
  background-size: cover;
  width: auto;
}

header.prototypes {
  background: url(../img/case-studies.jpg) center;
  background-size: cover;
  width: auto;
}

a {
    color: #50BFAB;
  }

.header-menu {
  list-style: none;
  a {
    color: white;
  }
  a:hover {
    padding: 10px; 
  }
  li {
    padding-bottom: 10px;
  }
}

.menu-icon {
  height: 30px;
  width: auto;
}

// .header-menu-home {
//   list-style: none;
//   a {
//     color: #50BFAB;
//   }
//   a:hover {
//     background-color:rgba(255,255,255,0.7);
//     padding: 5px; 
//   }
// }


.body-intro {
  position: fixed;
  bottom: 0;
}

strong {
  color: #50BFAB;
}

.hero {
  margin-bottom: 1rem;
}

.header-title {
  color: white;
  padding-bottom: 1rem;
}

.header-copy {
  color: white;
  font-size: 20px;
}

.header-text-background {
  background-color:rgba(0,0,0,0.7);
  background: cover;
  margin-top: 5rem;
}

.homescreen-text-background {
  background-color:rgba(0,0,0,0.7);
  background: cover;
  margin-top: 6rem;
}

.myzerly-logo {
  height: 100px;
  width: auto;
  margin: 25px;
}

.wistia-vid {
  margin-bottom: 50px;
}

// Checks which media querie you've loaded         
// @media (min-width: 400px) {
//   body::before { 
//     content: 'min 400';
//     position: fixed; 
//     top: 0; 
//     right: 0; 
//     background: #eee; 
//     padding: 5px;
//   }

// }
// @media (min-width: 625px) {
//   body::before { 
//     content: 'min 625';
//   }
// }
// @media (min-width: 1000px) {
//   body::before { 
//     content: 'min 1000';
//   }
// }