body {
  font-family: 'Rambla', serif;
}

header {
  background: url(../img/climbing.png) 0 0;
  background-size: cover;
  width: auto;
  font-family: 'Rambla', serif;
}

.copy-about-me {
  color: white;
  font-size: 14px;
  padding-bottom: 10rem;
}

.title-about-me {
  color: white;
  padding-bottom: .5rem;
}

.myzerly-logo {
  height: 100px;
  width: auto;
  margin: 25px;
}

.bottom-nav {
  background: black;
  background-size: cover;
}

a:link {
  color: white;
}

// Checks which media querie you've loaded         
@media (min-width: 400px) {
  body::before { 
    content: 'min 400';
    position: fixed; 
    top: 0; 
    right: 0; 
    background: #eee; 
    padding: 5px;
  }

}
@media (min-width: 625px) {
  body::before { 
    content: 'min 625';
  }
}
@media (min-width: 1000px) {
  body::before { 
    content: 'min 1000';
  }
}