h1, h2, h3, h4, h5, h6 {
  font-family: 'Rambla', serif !important;
}

p, span {
  font-weight: 'Open Sans', serif !important;
}

nav {
  .name-of-site-author {
    line-height: 2.5;
    font-size: 1.75rem;
  }
}

header.home-page-background {
  background: url(../img/climbing2.jpg) 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

a {
    color: #50BFAB;
  }

.nav-menu {
  list-style: none;
  float: right;
  a {
    color: #000;
  }
  a:hover {
    color: #fff; 
  }
  li {
    padding-right: 20px;
    padding-top: 20px;
    display: inline-block;
    font-size: 1.25rem;
  }
}

.menu-icon {
  height: 30px;
  width: auto;
}

.nic-logo {
  height: 50px;
  width: auto;
  float: left;
  margin-top: 12px;
  padding-right: 20px
}

// Checks which media querie you've loaded         
// @media (min-width: 400px) {
//   body::before { 
//     content: 'min 400';
//     position: fixed; 
//     top: 0; 
//     right: 0; 
//     background: #eee; 
//     padding: 5px;
//   }

// }
// @media (min-width: 625px) {
//   body::before { 
//     content: 'min 625';
//   }
// }
// @media (min-width: 1000px) {
//   body::before { 
//     content: 'min 1000';
//   }
// }