<!doctype html>
<html class="no-js" lang="en" ng-app="portfolioSite">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Nic Edwards">
    <meta name="description" content="Nic Edwards Portfolio">
    <meta name="keywords" content="HTML,CSS,JavaScript,lessons,blog,designer,design,UX,UI,AI,visual,ZURB,University,Notable,Photoshop,Illustrator,Adobe">
    <title>Home</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16" />
    <script src="js/modernizr.js"></script>
  </head>

  <body>
<!-- logo + top-nav for links -->
  <nav class="top-page-navigation hide-for-small">
    <div class="row">
    <div class="small-12 medium-6 column">
      <img class="nic-logo" src="img/nic-logo.svg">
      <span class="name-of-site-author">NIC EDWARDS</span>
    </div>
    <div class="small-12 medium-6 column">
      <ul class="top-nav-menu">
        <li><a href="work.html">Work</a></li>
        <li><a href="img/nic-edwards-resume.pdf" target="_blank">Resumé</a></li>
        <li><a href="about-me.html">About</a></li>
        <li><a href="mailto:nic.edwrds@gmail.com?Subject=Hey!%20I%20Love%20Your%20Site!" target="_top">Contact</a></li>
      </ul>
    </div>
    </div>
  </nav>

<!-- background image w/ intro text -->
  <header class="home-page-background">
<!-- mobile nav hidden for medium and up screens -->
    <nav class="hide-for-medium-up">
      <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="index.html"><li>Home</li></a>
          <a href="work.html"><li>Work</li></a>
          <a href="about-me.html"><li>About</li></a>
          <a href="img/nic-edwards-resume.pdf" target="_blank"><li>Resumé</li></a>
          <a href="mailto:nic.edwrds@gmail.com?Subject=Hey!%20I%20Love%20Your%20Site!"><li>Contact</li></a>
        </ul>
      </div>
    </nav>
    
    <div class="row">
      <div class="small-12 medium-8 column medium-centered">
        <h1 class="header-title-page-copy">Hi. I’m Nic Edwards and I’m a designer in the Bay Area.</h1>
      </div>
    </div>
  </header>
  <section class="row show-work-tiles">
    <div class="small-12 medium-6 medium-centered column">
      <h2 class="text-center">Recent Work</h2>
      <p class="home-section-description">Here's a sample of what I've been up to. It spans sketching, user testing, graphic design, teaching, customer outreach and fun design things in general. Recently, a lot of code!</p> 
    </div>
<!-- Block-grid tiles for cards -->
    <div class="small-12 large-10 medium-centered column">
      <div class="row" ng-controller="workController">
      <h3 class="text-center">Lessons</h3>
      <hr>
        <ul class="small-block-grid-1 medium-block-grid-3">
          <li ng-repeat="workItem in work">
            <div class="box {{workItem.imageTile}}">
              <div class="overlay">
                <h3 class="text-center hover-text work-tiles">{{workItem.tileTitle}}</h3>
                <a class="custom-button" href="{{lessonLink}}" target="_blank">{{workItem.buttonCopy}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row" ng-controller="visualsController">
      <h3 class="text-center">Visuals</h3>
      <hr>
        <ul class="small-block-grid-1 medium-block-grid-3">
          <li ng-repeat="visualItem in visuals">
            <div class="box {{visualItem.imageTile}}">
              <div class="overlay">
                <h3 class="text-center hover-text work-tiles">{{visualItem.tileTitle}}</h3>
                <a class="custom-button" href="{{visualLink}}" target="_blank">{{visualItem.buttonCopy}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row" ng-controller="casesController">
      <h3 class="text-center">Case Study</h3>
      <hr>
        <ul class="small-block-grid-1 medium-block-grid-3">
          <li ng-repeat="caseItem in cases">
            <div class="box {{caseItem.imageTile}}">
              <div class="overlay">
                <h3 class="text-center hover-text work-tiles">{{caseItem.tileTitle}}</h3>
                <a class="custom-button" href="{{casesLink}}" target="_blank">{{caseItem.buttonCopy}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>          
    </div>
  </section>

<!-- footer + navigation -->
  <footer class="footer-navigation">
    <div class="row">
      <div class="small-12 column">
        <ul class="footer-nav-menu">
          <li><div class="on-hover-footer-icon linkedin"><a href="https://www.linkedin.com/pub/nic-edwards/36/a77/7a5/" target="_blank"><img class="menu-icon" src="img/nav-icons/svg/linkedin.svg"></a></div></li>
          <li><div class="on-hover-footer-icon github"><a href="https://github.com/myzerly"><img class="menu-icon" src="img/nav-icons/svg/github.svg"></a></li>
          <li><div class="on-hover-footer-icon twitter"><a href="https://twitter.com/myzerly" target="_blank"><img class="menu-icon" src="img/nav-icons/svg/twitter.svg"></a></li>
          <li><div class="on-hover-footer-icon mail"><a href="mailto:nic.edwrds@gmail.com?Subject=Hey%20I%20saw%20your%20site!" target="_top"><img class="menu-icon" src="img/nav-icons/svg/mail.svg"></a></li>
        </ul>
      </div>
      <div class="small-12 column text-center">
        <p class="footer-copyright-text">© 2015 Nic Edwards. All rights reserved.</p>
      </div>
    </div>
  </footer>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/foundation.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/app.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>

<!-- links to important codepens -->

<!-- <a href="http://codepen.io/anon/pen/NqrKpr" target="_blank"><img src="img/background-pattern.png">Cards+Toggle Card image with JQuery</a>
<a href="http://codepen.io/anon/pen/RPGqRN" target="_blank"><img src="img/background-pattern.png"><p>Learning JQuery basics: onClick etc.</a>
<a href="http://codepen.io/anon/pen/qdmdGm" target="_blank"><img src="img/background-pattern.png">JQuery multiple functions on a single click</a> -->

<!-- links to articles not mentioned -->

<!-- <li><a href="http://zurb.com/university/lessons/assumptions-suck-it-s-time-to-get-some-real-answers"><img class="th" src="img/lessons/user-testing.png">User Testing</a></li>
<li><a href="http://zurb.com/university/lessons/get-your-ideas-rolling-building-momentum-through-iteration"><img class="th" src="img/lessons/notable-lesson-iteration.png">Iteration Builds Momentum</a></li>
<li><a href="http://zurb.com/university/lessons/navigating-to-success-sketching-navigational-components"><img class="th" src="img/lessons/navigation-sketching.png">Navigational Sketching</a></li> -->

<!-- links to social & linkedin -->

<!-- <a href="https://www.linkedin.com/pub/nic-edwards/36/a77/7a5/" target="_blank">LinkedIn</a>
<a href="https://twitter.com/myzerly" target="_blank">Twitter</a> -->

<!-- Useful Git command to remove files from cache -->

<!-- git filter-branch --index-filter 'git rm -r --cached --ignore-unmatch [path/to/file.thing]' -f HEAD -->